.about {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.about h1 {
	margin-top: 50px;
	align-self: center;
	font-family: Nunito, sans-serif;
	font-size: 48px;
}

.about .info {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 85px;
	margin-left: 72px;
}

.about .info .blured {
	width: 598px;
	border-radius: 15px;
}

.about .info .text {
	display: flex;
	align-items: center;
	width: 637px;
	height: 300px;
	font-family: Roboto, sans-serif;
	line-height: 28px;
	font-size: 24px;
	text-align: left;
}

.about .groups {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	align-items: center;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}

.about .groups > div {
	justify-content: center;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
