#linhaUm {
  padding-top: 5%;
  align-items: center;
  text-align: center;
  font-family: NunitoBold, sans-serif;
}

#linhaDois {
  padding-top: 5%;
  padding-bottom: 5%;
}

#imgBlured {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}

#linhaTres {
  padding-bottom: 3%;
}

#sobreSmartEye {
  font-family: RobotoRegular, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  align-items: center;
  margin: auto;
  vertical-align: middle;
}
