.footer{
  width: 100%;
  background-color: #006A71;
  padding-bottom: 2px;
  margin-top: 30px;
  text-align: center;
}

.container img{
  margin-top: 10px;
}

.container p strong{
  font-family: Nunito, sans-serif;
}

.container p{
  font-family: Roboto, sans-serif;
  font-size: x-large;
  color: white;
}