.media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media > a {
  text-decoration: none;
}

.media > a > .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57.85px;
  height: 57.85px;
  border-radius: 50%;
  background-color: #006a71;
}

.media > a > .name {
  font-size: 12px;
  font-family: Nunito, sans-serif;
  font-weight: bold;
  line-height: 16px;
  margin-top: 11.57px;
  color: #006a71;
}
