.avatar {
  opacity: 1;
  max-width: max-content;
  min-width: 18%;
  max-height: max-content;
  min-height: 20%;
  margin: 1%;
  border: 1px solid #cbeaed;
  border-radius: 20px;
  text-align: center;
}

.avatar .__img {
  margin-top: 13%;
  width: 80%;
  height: 55%;
  border-radius: 20px;
  border: 1px solid black;
}

.avatar .__name {
  font-family: Nunito, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.avatar .__description {
  font-family: Roboto, sans-serif;
  font-size: 1em;
}
