.avatar {
  opacity: 1;
  max-width: max-content;
  min-width: 230px;
  max-height: max-content;
  min-height: 400px;
  margin: 30px;
  border: 1px solid #cbeaed;
  border-radius: 20px;
  text-align: center;
}

.avatar .__img {
  margin-top: 25%;
  width: 186px;
  height: 186px;
  border-radius: 20px;
  border: 1px solid black;
}

.avatar .__name {
  font-family: Nunito, sans-serif;
  font-weight: bold;
}

.avatar .__description {
  font-family: Roboto, sans-serif;
  font-size: large;
}
