@media (max-width: 991px) {
  #cardMembros {
    padding-bottom: 5%;
  }
}

#cardMembros {
  margin: auto;
}

#cardMembros > .card {
  border-color: #cbeaed;
  border-radius: 1rem;
}

#cardMembros > .card > .card-header {
  background-color: #ffffff;
  border-radius: 1rem !important;
  border-color: #ffffff;
}

#cardMembros > .card > .card-header > .card-img-top {
  border-radius: 1rem;
  margin: auto;
}
