.App .__line{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fontes/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(./assets/fontes/Nunito/Nunito-Bold.ttf);
}