.header {
  display: flex;
  width: 100%;
}

.header > .cabecalho {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
}

.header > .cabecalho > .logo {
  margin-left: 5%;
  width: 12%;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.header > .cabecalho > ul {
  list-style: none;
  display: flex;
}

.header > .cabecalho > ul > li {
  font-family: Nunito, sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.header > .cabecalho > ul > li:hover {
  cursor: pointer;
  transform: translateY(-2%);
}

.header > .cabecalho > ul > li > a {
  text-decoration: none;
  color: #ffffff;
}

.header > .background {
  margin: 0;
  padding: 0;
  width: 100%;
  filter: brightness(68%);
}

.header > .text {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header > .text > span {
  font-family: Nunito, sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  color: #ffffff;
}

.header > .text > button {
  width: 18%;
  padding: 1%;
  border-radius: 15px;
  background: #006a71;
  border: 0;
}

.header > .text > button > a {
  text-decoration: none;
  font-family: Nunito, sans-serif;
  color: #ffffff;
}

.header > .text > button:hover {
  cursor: pointer;
  opacity: 0.9;
}

/* responsividade */

@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */

  .header > .cabecalho > ul {
    margin-right: 15%;
  }

  .header > .cabecalho > ul > li {
    font-size: 2em;
    margin-left: 4%;
  }

  .header > .text {
    top: 65%;
    left: 5%;
  }

  .header > .text > span {
    font-size: 2em;
  }

  .header > .text > button > a {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */

  .header > .cabecalho > ul {
    margin-right: 15%;
  }

  .header > .cabecalho > ul > li {
    font-size: 2em;
    margin-left: 4%;
  }

  .header > .text {
    top: 65%;
    left: 5%;
  }

  .header > .text > span {
    font-size: 2em;
  }

  .header > .text > button > a {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */

  .header > .cabecalho > ul {
    margin-right: 16%;
  }

  .header > .cabecalho > ul > li {
    font-size: 1.7em;
    margin-left: 4%;
  }

  .header > .text {
    top: 60%;
    left: 5%;
  }

  .header > .text > span {
    font-size: 1.5em;
  }

  .header > .text > button > a {
    font-size: 1.5em;
  }
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */

  .header > .cabecalho > ul {
    margin-right: 15%;
  }

  .header > .cabecalho > ul > li {
    font-size: 1.5em;
    margin-left: 4%;
  }

  .header > .text {
    top: 40%;
    left: 5%;
  }

  .header > .text > span {
    font-size: 1.3em;
  }

  .header > .text > button > a {
    font-size: 1.3em;
  }
}

@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}
