.card{
  position: relative;
  max-width: 400px;
  max-height: max-content;
  min-height: 600px;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #D3DE32;
  border-radius: 20px;
}

.card .__header{
  background-color: #CBEAED;
  border-radius: 20px;
  padding: 5px;
  max-height:300px;
  min-height: 300px;
}

.card .__imgA{
  padding-top: 10px;
  margin-left: 5px;
}

.card .__imgB{
  position: relative;
  bottom: 20px;
  left: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card .__body{
  margin: 10px;
  text-align: center;
}

.card .__title{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Nunito, sans-serif;
  font-weight: bold;
}

.card .__description{
  font-family: Roboto, sans-serif;
  font-size: large;
  text-align: left;
}

.card .__body .__button{
  border: none;
  background-color: #006A71;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: large;
  color: white;
  cursor: pointer;
  width: 150px;
  height: 38px;
  border-radius: 15px;
  position: absolute;
  bottom: 6%;
  right: 30%;
}