.card {
  position: relative;
  max-height: max-content;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
  border: 1px solid #d3de32;
  border-radius: 20px;
  text-align: center;
  background-size: cover;
}

.card > .__header {
  background-color: #cbeaed;
  border-radius: 20px;
  padding: 5%;
  margin: auto;
}

.card > .__imgA {
  margin-left: auto;
  margin-right: auto;
  width: 100% !important;
}
/* 
.card .__imgB {
  position: relative;
  bottom: 20px;
  left: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.card > .__body {
  margin: 8% 5% 5% 5%;
  text-align: center;
  text-align: center;
}

.card > .__body > .__title {
  font-family: Nunito, sans-serif;
  font-weight: bold;
}

.card > .__body > .__description {
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 8% 5% 5% 5%;
}

/* responsividade */

@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */

  .card {
    width: 50vw;
    min-height: 50vh;
  }

  .card > .__header {
    max-height: 30vh;
    min-height: 30vh;
  }

  .card > .__body > .__title {
    font-size: 1.5em;
  }

  .card > .__body > .__description {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */

  .card {
    width: 40vw;
    min-height: 40vh;
  }

  .card > .__header {
    max-height: 30vh;
    min-height: 30vh;
  }

  .card > .__body > .__title {
    font-size: 1.5em;
  }

  .card > .__body > .__description {
    font-size: 1em;
  }
}

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */

  .card {
    width: 30vw;
    min-height: 40vh;
  }

  .card > .__header {
    max-height: 30vh;
    min-height: 30vh;
  }

  .card > .__body > .__title {
    font-size: 1.5em;
  }

  .card > .__body > .__description {
    font-size: 1em;
  }
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */
}

@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}
